.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.author {
  text-decoration: none;
}
.author:hover {
  text-decoration: underline;
}

.githubLogo {
  transition: all 500ms ease;
}
.githubLogo:hover {
  transform: rotate(360deg) scale(1.2);
}
